
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #4CAF50; /* Verde */
    --cor-secundaria: #FF5722; /* Laranja */
    --cor-fundo: #f4f4f9; /* Cinza claro */
    --cor-texto: #333;
    --cor-fundo-secundario: #fff;
    --cor-borda: #ccc;
    --cor-footer: #222;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 1rem 2rem;
}

    header .logo img {
        width: 50px;
        height: 50px;
        margin: 0px 200px
    }

    header .topMenu {
        margin: 0px 200px
    }

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 1rem;
            transition: color 0.3s;
        }

            nav ul li a:hover {
                color: var(--cor-secundaria);
            }

.container-duplo {
    display: flex;
    justify-content: space-between; 
    align-items: stretch;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


section {
    flex: 1 1 45%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    min-height: 600px;
}


.sobre h2 {
    color: #1abc9c;
    margin-bottom: 50px;
    font-size: 28px;
}


.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 4px solid #1abc9c;
}

    .timeline .container {
        margin-bottom: 40px;
        position: relative;
    }

        .timeline .container::before {
            content: '';
            position: absolute;
            left: -12px;
            top: 0;
            width: 20px;
            height: 20px;
            background-color: white;
            border: 4px solid #1abc9c;
            border-radius: 50%;
        }

    .timeline h2 {
        font-size: 20px;
        color: #1abc9c;
        margin: 20px;
    }

    .timeline p {
        background-color: #ecf0f1;
        padding: 15px;
        border-radius: 6px;
    }


@media (max-width: 768px) {
    .container-duplo {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: stretch; 
    }
    section {
        flex: 1 1 100%;
    }

    .timeline {
        padding-left: 30px;
    }

        .timeline .container::before {
            left: -11px;
        }
}
